/* Global Css */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
footer {
    height: 100%;
    margin-top: auto;
}
/* End Global Css */


/* # BAGIAN USER */

/* Halaman Profil */
.profil-data-user {
    font-weight: bold;
    color: #5c5c5c;
}

.profil-aksi-data a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.profil-aksi-data a:hover {
    text-decoration: underline;
}

/* End Halaman Profil */

/* # END BAGIAN USER */



/* # BAGIAN ADMIN */

/* Halaman Profil */
.data-tarif li {
    list-style: none;
}

.card-tarif h5,
.card-tarif ul li {
    font-size: 14px !important;
}

a.admin-aksi-tarif {
    font-size: 10px !important;
}
/* End Halaman Profil */

/* # END BAGIAN ADMIN */